@-moz-document url-prefix("https://ripped.guide/") {
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;0,800;1,500;1,600;1,700;1,800&display=swap');
body {
    border-top: solid 3px;
    border-color: rgb(233, 30, 99);
    font-family: Montserrat
}
a.active {
    border: dashed 2px !important;
    border-color: rgb(233, 30, 99) !important;
    border-radius: 0px !important;
}
a.home-link {
    color: rgb(233, 30, 99) !important;
}
p.navtitle {
    color: rgb(233, 30, 99) !important;
    font-weight: bold;
}
.credits a {
    color: rgb(233, 30, 99) !important;
}
h1.article-title {
    color: rgb(233, 30, 99) !important;
    font-weight: bold !important;
}
tbody {
    color: rgb(233, 30, 99) !important;
    border: dashed 2px !important;
    border-color: rgb(233, 30, 99) !important;
    border-radius: 0px !important;
}
#content a {
    color: rgb(233, 30, 99) !important;
}
tr:nth-child(even) {
    background-color: #23040f !important;
}
hr {
    color: rgb(233, 30, 99) !important;
}
}
